* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../images/bg_main3.jpg);
}

header {
  background-image: url(../images/bg_head1.jpg);
  height: 100px;
}

#headerlogo {
  width: 6%;
  height: 90px;
  float: left;
  margin-left: 10%;
  margin-top: 4px;
}

h2 {
  font-size: 60px;
  font-weight: bold;
  margin-left: 30%;
  color: rgb(255, 255, 255);
  padding-top: 14px;
}

nav {
  background-color: rgb(172, 209, 252);
  padding-top: 3px;
  padding-bottom: 70px;
}

nav ul {
  list-style: none;
  margin-left: 20%;
}

nav ul li {
  background-color: rgb(33, 3, 167);
  width: 10%;
  height: 40px;
  margin-top: 1%;
  margin-left: 2%;
  text-align: center;
  float: left;
}
nav ul li a {
  color: rgb(255, 254, 254);
  text-decoration: none;
  display: block;
  height: 40px;
  line-height: 40px;
}

nav ul li a:hover {
  color: yellowgreen;
}

main div {
  width: 50%;
  float: left;
  padding-bottom: 50px;
}

main div table {
  margin-top: 40px;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

tr {
  height: 70px;
}

td {
  background-color: thistle;
}

th {
  background-color: thistle;
  font-size: 25px;
}

input {
  height: 40px;
  width: 90%;
  margin-left: 2%;
}

select {
  width: 90%;
  height: 40px;
  margin-left: 2%;
}

.trainerButton {
  height: 40px;
  margin-left: 2%;
  width: 50%;
  background-color: rgb(46, 45, 45);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.trainerButton:hover {
  color: yellow;
}

#trainerSubmit {
  width: 30%;
}

#trainerReset {
  width: 45%;
  margin-left: 7%;
}

.trainerLeft {
  width: 50%;
  text-align: right;
  padding-right: 5%;
}

span {
  font-size: 12px;
}

.msgError {
  height: 10px;
  font-size: 12px;
  position: absolute;
  color: red;
  text-align: right;
  /*visibility: hidden;*/
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 40px;
  background-color: rgb(172, 209, 252);
}

footer table {
  width: 100%;
  height: 100%;
  text-align: left;
}

footer table tr td {
  background-color: rgb(172, 209, 252);
  padding-bottom: 40px;
}

footer table tr td img {
  float: left;
  height: 40px;
  padding-left: 60%;
}
